<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">
            {{ vm.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ vm.contentBeginning }}
        </h3>
    </a>
    <p class="post-meta">Posted
        on {{ vm.publishedDate }}
    </p>
</div>
<hr>
