{% extends "_base.twig" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ postPage.title }}</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Posted on {{ postPage.publishedDate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
{{ postPage.contentMarkdownDisplay.present | raw }}

{% endblock %}
